{% extends 'base.html.twig' %}

{% block title %}Hello PetController!{% endblock %}

{% block body %}

<ul>
	
{% for pet in pets %}

<li>{{pet.name | e}}</li>
<li><img src="{{pet.photoUrls | e}}" alt="{{pet.name | e}}"></li>

{% endfor %}	
</ul>



<pets></pets>



{# 


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/vinixcodepetsapp/src/Controller/PetController.php'|file_link(0) }}">src/Controller/PetController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/vinixcodepetsapp/templates/pet/index.html.twig'|file_link(0) }}">templates/pet/index.html.twig</a></code></li>
    </ul>
</div>

 #}

{% endblock %}
