{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

	{% block body %}

		<div class="allpets" style="font-size: 0.9rem;">	
		Add & Edit Form
		</div>	

		{{ form_start(form, { 'attr': {'class': 'petForm'} }) }}



		{{ form_end(form) }}


		<a href="/home" class="allpets" style="font-size: 0.8rem;text-decoration: none;text-align: right;display: inline-block;"> <i class="fa fa-refresh"></i> Clear form</a>


		<div class="allpets">
		<hr>	
		<img src="../img/pets2.jpg">
		All Pets

		</div>

		<table id="myTable">
		<thead>
		<tr>
		
		<th>id</th>
		<th>name</th>
		<th>category</th>
		<th>photo</th>
		<th>tags</th>
		<th>status</th>
		<th>options</th>
		</tr>
		</thead>
		<tbody>

		{% for pet in pets %}

			<tr>
			
			<td>{{pet.id | e}}</td>
			<td>{{pet.name | e}}</td>
			<td>
			{% if pet.category == 1 %}
				Cat
			{% endif %}
			{% if pet.category == 2 %}
				Dog
			{% endif %}
			{% if pet.category == 3 %}
			   Fish
			{% endif %}
			{% if pet.category == 4 %}
				Birds
			{% endif %}
			{% if pet.category == 5 %}
				Reptiles
			{% endif %}
			</td>
			<td><img src="img/{{pet.photoUrls | e}}" alt="{{pet.name | e}}" width="100px"></td>
			<td>{{pet.tags | e }}</td>
			
			{% if pet.status == 0 %}
				<td>no avaiable</td>
				{%  else %}
					<td> avaiable</td>
				{%  endif %}
				<td>
				<a href="/?id={{pet.id | e}}&update=true" >
				<i class="fa fa-edit"></i>
				</a>
				<a href="/?id={{pet.id | e}}&del=true" >
				<i class="fa fa-trash-o"></i>
				</a>
				</td>
				</tr>
			{% endfor %}	

			</tbody>
			</table>




			<div class="example-wrapper">



			</div>
		{% endblock %}


