:root {
  --main-color: #a523e2e6;
  --border-radius: 7px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
	font-family: sans-serif;
	background: url(../img/paw.png);
    background-repeat: auto;
    background-size: contain;
    width: 100%;
    height: auto;
}
header {
	display: flex;
	flex-flow: column nowrap;
	font-size: 2rem;
	justify-content: center;
	align-self: center;
	margin: 1rem 0;
	text-align: center;
	color: var(--main-color);
    text-shadow: 0 0 black;
    font-weight: bold;
}
header img {
	margin: 0 10px;
	width: 300px;
}
form {
	display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0 auto;
   	height: auto;
   	line-height: 1.5rem;
   	width: 70%;
}
form div {
	display: flex;
	justify-content: space-between;
	margin: 0.1rem 0;
	width: 100%;
}
form input,
form select {

	border: 1px solid var(--main-color);
	width: 200px;
}
form button {
	background: var(--main-color);
	border-radius: var(--border-radius);
	color: white;
	border:  none;
	padding: 0.5rem;
	width: 100%;
}

#main {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.allpets {
	display: flex;
    flex-flow: column nowrap;
    font-size: 2rem;
    justify-content: center;
    align-self: center;
    margin: 1rem 0;
    text-align: center;
    color: var(--main-color);
    text-shadow: 0 0 black;
    font-weight: bold;
}
.allpets img {
	margin: 0 10px;
	width: 300px;

}