<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Welcome!{% endblock %}</title>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/css/styles.css">

{% block stylesheets %}{% endblock %}

	{% block javascripts %}{% endblock %}
		</head>
		<body>
			<main id="main">
						<pets></pets>

			{% block body %}{% endblock %}
			</main>
		</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>	
<script type="text/javascript" src="{{ app.request.getBaseURL() }}js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="">
	$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
</html>
